@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #e35316;
    --primary-hover: #e35316ce;

    --secondary-color: #1883e7;
    --secondary-hover: #1883e7ce;

    --background-color: #151515;
    --text-color: #fafafa;
}

* {
    font-family: "Exo 2", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}